body {
    overflow: hidden;
}

#nav {
    display: flex;
    justify-content: space-between;
    height: 45px;
    margin-top: 30px;
    padding: 0 15px ;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1b8e99;
}

#nav_logo {
    background-image: url(../img/logo.fw.png);
    width: 194px;
    height: 146px;
    margin-top: -25px;
}

#nav_menu {
    display: flex;
    align-items: center;
}

#nav_menu li {
    display: inline-block;
    margin-left: 2px;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    text-overflow: clip;
    text-align: center;
    padding: 0 15px 0 15px;
    max-width: 60px;
}

#nav_menu li a {
    text-decoration: none;
    color: white;
}

#nav_menu .active {
    height: 62px;
    background-color: #92c9ce;
    display: flex;
    align-items: center;
    font-weight: 600;
}

#banner {
    width: 100%;
    background-image: url(../img/banner.fw.png);
    height: 352px;
    background-size: cover;
    background-repeat: no-repeat;
}

